alabaster==0.7.10
Babel==2.6.0
boto3==1.7.39
botocore==1.10.39
certifi==2018.4.16
chardet==3.0.4
docutils==0.14
idna==2.7
imagesize==1.0.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
Pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.19.1
s3transfer==0.1.13
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
urllib3==1.22
